.inline{
    position:relative;
    /* left: 400px; */
    width: 50%;
}
.resultadoNumero{
    background-color: lightblue;
    width: 100px;
    margin: 20px auto;
    border-radius: 20px;
}
.alertaSinCartas{
    width: 50%;
    margin: 10px auto;
    padding: 20px 0px;
}
.alertCartas{
    /* width: 50%; */
    margin: 10px auto;
    padding: 20px 0px;
}
.cartas50{
    width: 50%;
}
.botonJuego{
    width: 250px;
    padding: 15px;
    margin-top: 10px;
}
.card{
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  right: auto;
  margin: 40px auto;
  background-color: white;
  height: 250px;
  width: 200px;
}
.carta{
    /* margin-top: 20px; */
    height: 300px;
    width: 200px;
    margin: 20px auto;
} 
.contenedorCarta{
    /* grid-row: auto; */
    height: 500px;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
}
.contenedorCarta .carta:hover{
    height: 320px;
    width: 220px;
    border-radius: 5px;
    border: solid 5px rgb(201, 201, 0);
    transition: 0.2s;
}
.tableroInfo{
    position: absolute;
}
/*
.btnCarta{
    z-index: 2;
    position: absolute;
    top: 160px;
    left: 120px;
}
.carta:hover{
    z-index: 3;
    background-color: black;
    opacity: 0.7;
} */