<button (click)="givenNumber(2,12)">Tirar dado</button>
<h1>JUGADOR 1</h1>
<button (click)="createPlayer('rojo')">Crear equipo rojo</button>
<button (click)="giveCard(0)">Alzar del maso</button>
<button (click)="attack(0, 1, 1)">Atacar al Azul</button>
<button (click)="attack(0, 2, 1)">Atacar al Verde</button>
<button (click)="defense(0, cards, 3)">Escudo de 1</button>
<button (click)="defense(0, cards, 2)">Escudo de 2</button>
<button (click)="defense(0, cards, 1)">Escudo de 3</button>
<button (click)="revive(0, 2)">Revivir 2</button>
<button (click)="stole(0,1,1)">Robar 1 al Azul</button>
<button (click)="stole(0,2,1)">Robar 1 al Verde</button>
<button (click)="useDefenseCard(0,10011)">Usar trampa leve</button>
<button (click)="useDefenseCard(0,10101)">Usar trampa espejito</button>
<br>
<h1>Jugador 2</h1>
<button (click)="createPlayer('azul')">Crear equipo azul</button>
<button (click)="giveCard(1)">Alzar del maso</button>
<button (click)="attack(1, 0, 1)">Atacar al Rojo</button>
<button (click)="attack(1, 2, 1)">Atacar al Verde</button>
<button (click)="defense(1, cards, 3)">Escudo de 1</button>
<button (click)="defense(1, cards, 2)">Escudo de 2</button>
<button (click)="defense(1, cards, 1)">Escudo de 3</button>
<button (click)="revive(1, 2)">Revivir 2</button>
<button (click)="stole(1,0,1)">Robar 1 al Rojo</button>
<button (click)="stole(1,2,1)">Robar 1 al Verde</button>
<h1>Jugador 3</h1>
<button (click)="createPlayer('verde')">Crear equipo verde</button>
<button (click)="giveCard(2)">Alzar del maso</button>
<button (click)="attack(2, 0, 1)">Atacar al Rojo</button>
<button (click)="attack(2, 1, 1)">Atacar al Azul</button>
<button (click)="defense(2, cards, 3)">Escudo de 1</button>
<button (click)="defense(2, cards, 2)">Escudo de 2</button>
<button (click)="defense(2, cards, 1)">Escudo de 3</button>
<button (click)="revive(2, 2)">Revivir 2</button>
<button (click)="stole(2,0,1)">Robar 1 al Rojo</button>
<button (click)="stole(2,1,1)">Robar 1 al Azul</button>